.app {
  max-width: 400px;
  margin: 0 auto;
}

.task-list {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.completed {
  text-decoration: line-through;
  opacity: 0.7;
}

button {
  margin-left: 10px;
}

.inputText {
  padding: 8px;
  margin: 12px;
  width: 250px;
  font-size: 16px;
}

.text {
  margin-right: 50px;
}

.task-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.text {
  flex-grow: 1;
  margin-right: 10px;
}

.button-container {
  display: flex;
  align-items: center;
}

.add-task-form {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  padding-top: 80px;
}
